.loading-container {
  width: 500px;
  justify-content: center;
  align-items: center;
}

.comments-container {
  width: 500px;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
  }

  .comments-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .comment-wrapper {
      display: flex;
      .comment-author {
        width: 150px;
      }
      .comment-value {
        flex: 1;
        text-align: justify;
      }
    }
  }

  .create-comment-inputs {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      padding: 5px;
    }
  }
}
