.comments-container {
  height: 95%;
  width: 500px;

  ul {
    list-style: none;
  }

  .comments-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .create-comment-inputs {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      padding: 5px;
    }
  }
}
