.comments-container {
  ul {
    list-style: none;
  }
     .create-comment-inputs {
        display: flex;
        flex-direction: column;

        .MuiTextField-root {
          padding: 5px;
        }
     }
}
