.poll-container {
  .content {
    display: flex;
  }

  .question-list-container {
    li {
      display: flex;
      align-items: center;
      div {
        margin-right: 5px;
      }
    }
  }

  .new-question-container {
    display: flex;
    button {
      margin-left: 16px;
    }
  }
}
