.poll-container {
  .question-container {
    li {
      display: flex;
      align-items: center;
      div {
        margin-right: 5px;
      }
    }
  }
  .new-question-container {
    display: flex;
  }
}
